/*** Footer ***/
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo cubra al menos toda la altura del viewport */
    margin: 0;
  }

  .main-content {
    min-height: calc(100vh - 60px); /* Ajusta la altura para dejar espacio para el footer */
    padding-bottom: 50px; /* Deja espacio en la parte inferior para el footer */
    position: relative; /* Establece la posición como relativa para que los elementos secundarios puedan usar posición absoluta */
    flex-grow: 1;
    padding-bottom: 50px;
  }

  .footer {
    position: initial; /* Establece la posición como absoluta */
    bottom: 0; /* Fija el footer en la parte inferior de su contenedor principal */
    left: 0;
    width: 100%;
    background-color: #283499;
    background-size: contain;
    padding: 10px 0;
  }
  
  .footer .btn.btn-social {
    
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: 'white';
    border: 1px solid #ffffff;
    border-radius: 40px;
    transition: .3s;
  }
  
  .footer .btn.btn-social:hover {
    color: #9fb6f7;
  }
  
  .footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-weight: normal;
    transition: .3s;
  }
  
  .footer .btn.btn-link:hover {
    color: #ffffff;
  }
  
  .footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }

  
.footer-logo {
  max-width: 75%; 
  height: auto; 
}
  
  .footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
  }
  
  .footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
  }
  
  .footer .copyright a {
    color: rgba(255,255,255,.5);
  }
  
  .footer .copyright a:hover {
    color: #FFFFFF;
  }
  
  .footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
  }
  
  .footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }