/* Estilos para el contenedor principal */
.container {
    margin-top: 20px;
    padding: 0 auto;

  }
  
  /* Estilos para el formulario */
  .form-label {
    font-weight: bold;
  }
  
  /* Espaciado entre elementos del formulario */
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  /* Botón de login */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;

   
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* Estilos para el enlace de "Iniciar Sesión" */
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Separador horizontal */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.atype{
    margin-left: 230px;
}