/* Registro.css */

.registro-container {
  text-align: center;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  position: relative; /* Establecer el contenedor de imágenes como posición relativa */
}

.image-wrapper {
  position: relative;
  cursor: pointer;
  margin: 20px;
  transition: transform 0.3s ease;
  width: 50%; /* Establece el ancho al 50% para que ocupen la mitad de la pantalla */
  box-sizing: border-box; /* Evita que el margen agregue espacio adicional */
}

.image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* La altura se ajustará automáticamente */
  object-fit: cover; /* Esto ajustará la imagen dentro de su contenedor */
}

.selected {
  border: 2px solid #007bff;
}

.move-left {
  transform: translateX(-20px);
}

.move-right {
  transform: translateX(20px);
}

.registro-form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.checkbox-input {
  margin-right: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}
.image-label {
  position: absolute; /* Establecer etiqueta como posición absoluta */
  top: 0; /* Colocar la etiqueta en la parte superior */
  left: 0; /* Colocar la etiqueta en la izquierda */
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente */
  color: white; /* Color del texto de la etiqueta */
  padding: 5px; /* Espacio alrededor del texto de la etiqueta */
  z-index: 1; /* Asegurarse de que la etiqueta esté en el frente */
}