.gradient-custom-2 {
    /* fallback for old browsers */
    background: #98cceb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(207, 213, 240), rgb(65, 120, 216));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(236, 236, 236), rgb(94, 151, 250))
    }